/*=========================================================
	FOOTER
===========================================================*/

#footer {
  background: #15161d;
  color: #b9babc;
}

#bottom-footer {
  background: #1e1f29;
}

.footer {
  margin: 30px 0px;
}

.footer .footer-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0px 0px 30px;
}

.footer-links li + li {
  margin-top: 15px;
}

.footer-links li a {
  color: #b9babc;
}

.footer-links li i {
  margin-right: 15px;
  color: #d10024;
  width: 14px;
  text-align: center;
}

.footer-links li a:hover {
  color: #d10024;
}

.copyright {
  margin-top: 30px;
  display: block;
  font-size: 12px;
}

.footer-payments li {
  display: inline-block;
  margin-right: 5px;
}

.footer-payments li a {
  color: #15161d;
  font-size: 36px;
  display: block;
}
/*=========================================================
	03 -> Navigation
===========================================================*/

#navigation {
  background: #fff;
  border-bottom: 2px solid #e4e7ed;
  border-top: 3px solid #d10024;
}
.main-nav > li + li {
  margin-left: 30px;
}

.main-nav > li > a {
  padding: 20px 0px;
  color: black;
}

.main-nav > li > a:hover,
.main-nav > li > a:focus,
.main-nav > li.active > a {
  color: red;
  background-color: transparent;
}

.main-nav > li > a:after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #d10024;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.main-nav > li > a:hover:after,
.main-nav > li > a:focus:after,
.main-nav > li.active > a:after {
  width: 100%;
}

.header-ctn li.nav-toggle {
  display: none;
}
