@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.orderPage {
  font-size: 15px;
  padding-bottom: 50px;
}
.breadcrumb-area {
  background-color: #ce2829;
  position: relative;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  height: 550px;
}
.breadcrumb-area .container {
  margin: 0 auto;
  max-width: 1320 px;
  height: 100%;
}
.breadcrumb-area .container .row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
  justify-content: center !important;
}
.align-self-center {
  align-self: center !important;
}
.breadcrumb-area .banner-inner {
  padding: 150 px 0 100 px;
}
.banner-shape-1 {
  position: absolute;
  left: 0;
  bottom: 0;
}
.banner-shape-2 {
  position: absolute;
  right: 0;
  top: 0;
}
.banner-inner h3 {
  color: #fdc913;
  font-family: Satisfy;
  font-weight: 400;
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 32px;
  font-family: Bebas Neue, cursive;
  line-height: 1.3833333333;
}
.banner-inner h1 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 86px;
  font-weight: 400;
  line-height: 92px;
  margin-bottom: 50px;
}
.breadcrumb-mid {
  padding-top: 50px;
  margin-left: 260px;
  text-align: center;
  align-items: center;
}
.breadcrumb {
  display: inline-block;

  margin: 0 auto;
  text-align: center;
  background-color: #ce2829;
}
.breadcrumb .breadcrumb-item {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  font-size: 20px;
}
.breadcrumb-item a {
  text-decoration: none;
  outline: none;
  color: inherit;
}
.breadcrumb .active {
  color: #fdc913 !important;
}
.breadcrumb-item a:hover {
  color: #fdc913;
  transition: 0.4s;
}
.cart-area {
  background-color: #faf7f2;
  padding-top: 50px;
}
.table {
  background-color: #fff;
  text-align: center;
}
.justify-content-center {
  justify-content: center !important;
}
.cart-area .table thead {
  background: #f6f1e7;
  border: 0;
}
.table > tbody {
  vertical-align: inherit;
}

.default-form-wrap .single-input-wrap {
  border-radius: 6 px;
  height: 54 px;
  line-height: 54px;
  margin-bottom: 30 px;
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}
.promotional-area .btn {
  margin-top: 0;
  border-radius: 6 px;
  padding: 0 30 px;
}
.btn-secondary {
  background-color: #fdc913 !important;
  color: #292929 !important;
}
.qty {
  margin: 10px 10px 10px 10px;
  padding-top: 3px;
  padding-bottom: 5px;
}
.order-cart-area {
  background-color: #fff;
  border-radius: 5px;
}
.order-cart-area .order-cart ul {
  list-style: none;
  margin-left: -10px;
}
.order-cart-area .order-cart ul li span {
  margin-left: auto;
  float: right;
}
