@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');

.orderPage {
  padding-top: 70px;
  font-size: 15px;
  padding-bottom: 50px;
}

.orderPage__title {
  font-family: 'Pacifico', cursive;
  font-size: 2.5rem;
  color: #000;
}
