#footer {
  background-image: url('https://media.istockphoto.com/photos/lighting-decor-macro-picture-id911423478?b=1&k=20&m=911423478&s=170667a&w=0&h=bddHqrR2Eu1caMZM_6jlwxir1gEx_AW9iO7ezBkRWow=');
  background-size: cover;
  color: white;
}

.footer {
  margin: 30px 0px;
}

.footer .footer-title {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  margin: 0px 0px 30px;
}

.footer-links li + li {
  margin-top: 15px;
  font-size: 16px;
}

.footer-links li i {
  margin-right: 15px;
  color: orange;
  width: 14px;
  text-align: center;
  font-size: 16px;
}

