.cart-area {
  background-color: #faf7f2;
  padding-top: 50px;
}
.table {
  font-size: 15px !important;
  text-align: center;
  background-color: #fc9420;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
