.checkout {
    padding-top: 100px;
    width: 100%;
    background-color: white;

    &__title {
        font-size: 28px;
        font-weight: 600;

        &__icon {
            margin-right: 5px;
            display: inline-block;
            color: orange;
        }
    }
}
